<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Spam Detector</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css"
    />
  </head>

  <body>
    <nav
      class="
        navbar navbar-dark navbar-expand-lg
        fixed-top
        bg-white
        portfolio-navbar
        gradient
      "
    >
      <div class="container">
        <a class="navbar-brand logo" href="#">Spam Detector</a
        ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navbarNav"
        >
          <span class="sr-only">Toggle navigation</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto"></ul>
        </div>
      </div>
    </nav>
    <main class="page contact-page">
      <section class="portfolio-block contact">
        <div class="container">
          <div class="heading">
            <h2>Check if A message is spam or not</h2>
          </div>
          {% block body %}{% endblock %}
        </div>
      </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script>
      $(".datepicker").each(function () {
        new Pikaday({ field: this });
      });
    </script>
  </body>
</html>
